
#layoutSidenav_content {
    background: #f2f3f8;
}

.table-bordered > thead > tr > th {
    background: #1a4d80;
    border: 1px solid #ffffff !important;
    border-radius: 0px;
    color: #fff;
    padding-bottom: 6px;
    padding-top: 6px;
    font-weight: 300;
}

.table-bordered > thead > tr > td img {
    border-radius: 5px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

/*my input file design*/
.my_file-label {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    background: linear-gradient(to left, #2a81c0 50%, #397baa 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.my_file-label:hover {
    background-position: left;
}

#my-file-chosen {
    margin-left: 0.3rem;
    font-family: sans-serif;
}


/*//file preview */
#file_preview_01 {
    width: 85px;
    height: auto;
    border: 1px solid #ebedf2;
    box-shadow: 1px 1px 1px 0px #e0dada;
    border-radius: 0.25rem;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

#file_preview_02 {
    width: 80px;
    height: 80px;
}

#file_preview_name_03 {
    font-size: 11px;
    color: #000;
    width: 85px;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}

#file_preview_size_04 {
    font-size: 9px;
    color: #8f97ab;
    margin-bottom: 0px;

}



/* hr */
hr {
    margin-top: 0;
    margin-bottom: 0;
}

/* switch button*/


/* Rounded sliders switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

/*//toater notice message*/
#toater {
    position: fixed;
    background: #4BB543;
    z-index: 10000;
    right: 8px;
    padding: 10px;
    display: flex;
    top: 70px;
    box-shadow: 2px 2px #a29b9bdd;
    border-left: 10px solid;
}

#toater p {
    padding: 0px;
    margin: 0px;
    color: #fff;
}

.toast-message {
    font-size: 12px;
}


/*//media screen*/
@media only screen and (max-width: 600px) {
    .top_menu {
        display: none;
    }
}